main {
  width: 92.5vw;
  margin-inline: auto;

  margin-block: 6rem;
}

/* ----------------------------------------------------------------------------------------------- */
section {
  margin-block: 6rem;
}

section h2 {
  text-transform: capitalize;
  font-size: 2.5rem;

  margin-bottom: 3rem;
}
section h2 span {
  font-size: 1.7rem;
  font-weight: 300;
}

section h3 {
  font-size: 2rem;

  margin-bottom: 2rem;
}

/* ----------------------------------------------------------------------------------------------- */

.out-of-main {
  background-color: var(--clr-300);

  padding: 4rem;
}
