main {
  width: 92.5vw;
  margin-inline: auto;

  margin-block: 6rem;
}

/* ----------------------------------------------------------------------------------------------- */
section {
  margin-block: 6rem;
}

section h2 {
  font-size: 2.5rem;

  margin-bottom: 3rem;
}

/* ----------------------------------------------------------------------------------------------- */

.out-of-main {
  background-color: var(--clr-300);

  padding: 4rem;
}

/* ----------------------------------------------------------------------------------------------- */

.section-title {
  display: flex;
  align-items: center;

  line-height: 1px;
}

.section-title h2 span {
  font-size: 1.7rem;
  font-weight: 300;
}
