#partner {
  width: 90%;
  margin-inline: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  gap: 2rem;
}

#partner > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
